body {
    font-family: 'Montserrat', sans-serif;
    background-color: ghostwhite;
}

/*@media only screen and (min-width: 1260px){}*/
.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 140px 50px 1.5fr 1.5fr 40px;
    gap: 1em 1em;
    grid-auto-flow: row;
    grid-template-areas:
      "header header header"
      "nav nav nav"
      "main main main"
      "nosotros nosotros colegio"
      "footer footer footer";
  }
  
header { grid-area: header; }

header img {
    float: left;
    width: 120px;
    margin-left: 6%;
    margin-top:1%
  }
  
header img:hover{
    cursor:pointer}
  
header h1 {
    position: relative;
    top: 0.6em;
    text-align:center;
    font-size:2.5em;
  }
  
nav{
    grid-area: nav;
     padding:1px;
     display: grid;
     grid-template-columns: 33% 33% 33%;
     justify-content: center;
     align-items: center;
    }

button{
    font:inherit;
    background-color: darkblue;
    color:white;
    height:50px;
    font-size:20px;
    font-weight: bold;
    border:none; 
}

button:hover {
    cursor: pointer;
    animation-name: hover;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes hover {
    from {background-color: darkblue;}
    to {background-color: rgb(78, 2, 255);}
  }

.main{ grid-area:main;
display:grid;
grid-template-columns: 33% 33% 33%;
grid-template-areas: "ninios adolescentes examenes";
text-align:center;
}

.ninios { grid-area: ninios;} 
.ninios img{
    width:80%;
    margin-top:15%;
    border-radius:15px;
    transition: transform .2s;
}
.ninios div{
    position:absolute;
    top:76%;
    left:3.8%;
    z-index:1;
    background-color:cornsilk;
    color:darkblue;
    text-decoration: none;
    height:10%;
    width:26.1%;
    }

.ninios img:hover{
    transform:scale(0.9)
}
.adolescentes { grid-area: adolescentes; }
.adolescentes img{
    width:80%;
    margin-top:15%;
    border-radius:15px;
    transition: transform .2s;
}
.adolescentes img:hover{
    transform:scale(0.9)
}
.adolescentes div{
    position:absolute;
    top:76%;
    left:36.2%;
    z-index:1;
    background-color:cornsilk;
    color:darkblue;
    text-decoration: none;
    height:10%;
    width:26.5%;
    }
.examenes { grid-area: examenes; }
.examenes img{
    width:80%;
    margin-top:15%;
    border-radius:15px;
    transition: transform .2s;
}
.examenes img:hover{
    transform:scale(0.9)
}
.examenes div{
    position:absolute;
    top:76%;
    left:69%;
    z-index:1;
    background-color:cornsilk;
    color:darkblue;
    text-decoration: none;
    height:9.8%;
    width:26.3%;
    }

.nosotros { grid-area: nosotros;
    margin-right:30px;
    margin-left:10px
}

.nosotros p {
    font-size: 1.1em;
    text-align:justify;
   }
.nosotros h2{
    font-size: 2.2em;
    }

.colegio { grid-area: colegio; 
    justify-self:end;}

.colegio img{
    border-radius: 20px;
border:2px solid black}

footer { grid-area: footer; }

footer, footer a{
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 0.5em;
}
