body {
    font-family: 'Montserrat', sans-serif;
    background-color: ghostwhite;
}

.container {  display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 140px 50px 1fr 1.4fr 40px;
    gap: 1em 1em;
    grid-auto-flow: row;
    grid-template-areas:
      "header header"
      "nav nav"
      "main main"
      "nosotros colegio"
      "footer footer";
  }
  
header { grid-area: header; }

header img {
    float: left;
    width: 120px;
    margin-left: 6%;
    margin-top:1%
  }
  
header:hover{
    cursor:pointer}
  
header h1 {
    position: relative;
    top: 4vh;
    text-align:center;
    font-size:2.8vw;
    color:black
  }

header a{
    text-decoration:none
}
  
nav{
    grid-area: nav;
     padding:1px;
     display: grid;
     grid-template-columns: 33% 33% 33%;
     justify-content: center;
     align-items: center;
    }
.menu{
    display:none
}
button{
    font:inherit;
    background-color: darkblue;
    color:white;
    height:50px;
    font-size:20px;
    font-weight: bold;
    border:none; 
}

button:hover {
    cursor: pointer;
    animation-name: hover;
    animation-duration: 3s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes hover {
    from {background-color: darkblue;}
    to {background-color: rgb(78, 2, 255);}
  }

button a{
    color:white;
    text-decoration:none
}

.main{ grid-area:main;
display:grid;
grid-template-columns: 33% 33% 33%;
grid-template-areas: "ninios adolescentes examenes";
text-align:center;
}

.ninios { grid-area: ninios;
     position:relative;
    } 
.ninios img{
    width:80%;
    margin-top:15%;
    border-radius:15px;
    transition: transform .2s;
}
.ninios div{
    position:absolute;
    top:90%;
    left:10%;
    z-index:1;
    background-color:antiquewhite;
    color:darkblue;
    text-decoration: none;
    height:10%;
    width:80%;
    display:flex;
    align-items:center;
    justify-content:center;
    transition: transform .2s;
    }

.ninios img:hover {
    transform:scale(0.9)}
.ninios div:hover{
     transform:scale(0.9)}

.adolescentes { grid-area: adolescentes;  position:relative;}
.adolescentes img{
    width:80%;
    margin-top:15%;
    border-radius:15px;
    transition: transform .2s;
}
.adolescentes img:hover{
    transform:scale(0.9)}
.adolescentes div{
    position:absolute;
    top:90%;
    left:10%;
    z-index:1;
    background-color:antiquewhite;
    color:darkblue;
    text-decoration: none;
    height:10%;
    width:80%;
    display:flex;
    align-items:center;
    justify-content:center;
    transition: transform .2s;
    }
.adolescentes div:hover{
        transform:scale(0.9)}
.examenes { grid-area: examenes; position:relative; }
.examenes img{
    width:80%;
    margin-top:15%;
    border-radius:15px;
    transition: transform .2s;
}
.examenes img:hover{
    transform:scale(0.9)}
.examenes div{
    position:absolute;
    top:90%;
    left:10%;
    z-index:1;
    background-color:antiquewhite;
    color:darkblue;
    text-decoration: none;
    height:10%;
    width:80%;
    display:flex;
    align-items:center;
    justify-content:center;
    transition: transform .2s;
    }
.examenes div:hover{
        transform:scale(0.9)}
.nosotros { grid-area: nosotros;
    margin-left:10px;
    width:95%
}

.nosotros p {
    font-size: 1.1em;
    text-align:justify;
   }
.nosotros h2{
    font-size: 2.2em;}

.colegio { grid-area: colegio; 
    justify-self:end;}

.colegio img{
    border-radius: 20px;
border:2px solid black;
margin-top:10%;
height:80%}

footer { grid-area: footer; }

footer, footer a{
    background-color: darkblue;
    color: white;
    text-align: center;
    padding: 0.5em;
}

@media only screen and (max-width: 1280px){
    .ninios div{top:75%;}
.adolescentes div{ top:75%}
.examenes div{ top:75%}
.nosotros { width:95%;}

.colegio img{
margin-top:5em;
height:65%}
}

@media only screen and (max-width: 1150px){
    .container{grid-template-columns: 40% 60%; } 
        
}
@media only screen and (max-width: 1080px){
    .container{
        grid-template-rows: 140px 50px 0.1fr 0.7fr 0.5fr 0.5fr 0.2fr 40px;
        grid-template-columns:1fr;
        grid-template-areas:
        "header"
        "nav"
        "."
        "main"
        "nosotros"
        "colegio"
        "."
        "footer";
    }
    nav{display:grid;
    grid-template-columns: 33% 33% 33%} 
    main{display:grid;
        grid-template-columns: 33% 33% 33%}
    .ninios div{top:63%;}
    .adolescentes div{ top:63%}
    .examenes div{ top:63%}
    .colegio{justify-self: center;}
    .colegio img{ height:79% } 
}

@media only screen and (max-width: 920px){

    .container{
        grid-template-rows: 140px 50px 1.5fr 0.5fr 0.5fr 40px;
        grid-template-columns:1fr;
        grid-template-areas:
        "header"
        "nav"
        "main"
        "nosotros"
        "colegio"
        "footer";
    }

header img{margin-left:3%}

header h1{
    font-size:4vh;
    top:3vh;
    left:1%;
    max-width:90vw
}

button{display:none}
.menu{display:inline;
width:95vw;
padding-top:15px;}

.dropdown-content a {
    display:block;
    position:absolute;
    left:-100%;
    width:80vw;
    background-color: white;
    z-index: 1;
    border:1px solid rgba(0,0,0,0.3);
    color: black;
    text-decoration: none;
    text-align:center;
    height:40px;
    padding-top:10px
  } 

  .dropdown-content a:hover {
    background-color: rgb(221, 221, 221);
  }
  
.main{
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:"ninios"
                        "adolescentes"
                        "examenes";
                    
}

.ninios img{margin-top:3vh; width:45vw}
.adolescentes img{width:45vw}
.examenes img{width:45vw}

.ninios div{width:45vw; top:100%; left:27%}
.adolescentes div{width:45vw; top:100%; left:27%}
.examenes div{width:45vw; top:100%; left:27%;}

.nosotros{margin-top:20px;
width:90vw}

.colegio img{ width:80vw} 

}


@media only screen and (max-width:600px){
    header h1{font-size:3.5vh;
        margin-left: 20px;}
    footer{font-size:12.5px;}
}

@media only screen and (max-width:475px){
header h1{font-size:3vh;
        margin-left: 20px;}
footer{font-size:11.5px;}
.ninios div{top:80%;}
.adolescentes div{top:80%;}
.examenes div{top:80%;}

}

@media only screen and (max-width:400px){

    .container{
        grid-template-rows: 130px 50px 1.5fr 0.5fr 0.5fr 60px;}

.ninios img{margin-top:3vh; width:60vw}
.adolescentes img{width:60vw}
.examenes img{width:60vw}

.ninios div{width:60vw; top:75%; left:19%}
.adolescentes div{width:60vw; top:75%; left:19%}
.examenes div{width:60vw; top:75%; left:19%;}
.colegio{margin-bottom:10px}

footer{display:flex;
    justify-content: baseline;
    max-width:90vw;
font-size:11px;
margin-top:10px}
}

@media only screen and (max-width:360px){
    header h1{top:2.5vh}
}